.wave {
  &-navbar {
    display: flex;
    justify-content: space-between;
  }
  &-nav {
    &-right {
      text-align: center;
      color: #8ABBDA;
      padding: 16px;
      text-decoration: none;
      > ul {
        display: flex;
        > li {
          padding: 10px;
        }
      }
    }
    &-left {
      margin: 20px;
      font-size: 40px;
      font-family: muli;
      font-stretch: 100%;
      font-style: normal;
      > a {
        color: #616E75;
      }
    }
  }
  &-header {
    border-color: rgba(0,0,0,0.14);
    color: rgba(0,0,0,0.54);
    fill: rgba(0,0,0,0.54);
  }
}